  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 700px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    background-color: #eeeeee;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.card {
    width: 450px;
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.card h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.card p {
    font-size: 22px;
    margin: 10px 0;
}